/* Variables */

:root {
  /* COLORS */
  --clr-primary-100: hsl(179, 62%, 43%);
  --clr-primary-200: hsl(71, 73%, 54%);

  --clr-neutral-100: hsl(204, 43%, 93%);
  --clr-neutral-200: hsl(218, 22%, 67%);
  --clr-neutral-300: hsl(0, 0%, 100%);

  /* FONT SIZE */
  --fs-primary: 1rem;

  /* FONT FAMILY */
  --ff-primary: "Karla", sans-serif;

  /* FONT WEIGHTS */
  --fw-primary-100: 400;
  --fw-primary-200: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITY CLASSES */
.grayish-text-color {
  color: var(--clr-neutral-200);
  /* max-width: 95%; */
}

/* I STARTED HERE */

/* GENERAL STYLES */
body {
  background-color: var(--clr-neutral-100);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  font-family: var(--ff-primary);
}

main {
  max-width: 30rem;
  border-radius: 10px;
  overflow: hidden;
}

h1 {
  color: var(--clr-primary-100);
}

h2 {
  color: white;
}
p {
  font-size: 1.334rem;
}

header,
.pricing-details,
.specialty-details {
  padding: 2em;
}

/* HEAD OF THE CARD */
header {
  grid-area: header;
  background-color: var(--clr-neutral-300);
}

header h2 {
  padding: 1em 0;
  color: var(--clr-primary-200);
}

/* PRICING DETAILS OF THE CARD */
.pricing-details {
  grid-area: pricing;
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-300);
}

.price {
  display: flex;
  align-items: center;
  gap: 1em;
}

.price p:first-child {
  font-size: 2.7rem;
  font-weight: var(--fw-primary-200);
}

.price p:last-child {
  --clr-neutral-100: hsla(204, 43%, 93%, 0.7);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-primary-100);
}

.pricing-details > p {
  padding-bottom: 1em;
}

button {
  font-size: 1.334rem;
  width: 100%;
  padding: 0.7em 0;
  border: 0;
  border-radius: 0.3em;
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-300);
}

/* SPECIALTY DETAILS OF THE CARD */
.specialty-details {
  grid-area: specialty;
  --clr-primary-100: hsla(179, 62%, 43%, 0.7);
  background-color: var(--clr-primary-100);
}

ul li {
  font-size: 1.334rem;
  color: var(--clr-neutral-100);
  line-height: 1.5;
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "pricing specialty";
    max-width: 50%;
  }

  header,
  .pricing-details,
  .specialty-details {
    padding: 3.5em;
  }

  .pricing-details > p {
    padding-bottom: 2em;
  }

  button {
    padding: 1em 0;
  }

  ul li {
  }
}
